http://localhost:8080 {
  root /app

  rewrite /static {
    r ^/static/(.*)
    to /static/{1}
  }
  browse /static

  proxy / backend:8000 {
    transparent
    except /static
  }

  log stdout
  errors stdout
  gzip
}
