.titleSection {
  padding-top: 4rem;
  padding-bottom: 2rem;

  color: white;
  text-shadow: 1px 2px black;
}

.titleText {
  margin-bottom: 3rem;

  font-weight: bold;
}

.dateText {
  margin-bottom: 1rem;
}

.locationText {
  margin-bottom: 1rem;
}

.taglineText {
  margin-top: 4rem;
}

/*
 * We use a non-breaking space here by default.
 */
.breakSpaceWhenSmall::after {
  content: '\00a0';
}

@media (max-width: 700px) {
  /*
   * When the viewport is too small to accomodate a pair of words on a single
   * line, use a regular space between them instead.
   */
  .breakSpaceWhenSmall::after {
    content: ' ';
  }
}

.titleJumbo {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url('./img2023/wyndham-background.jpeg');
  background-size: cover;
  background-color: black;
}
