[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
gunicorn = {extras = ["gevent"]}
django-rest-auth = {extras = ["with-social"]}
django-allauth = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
authorizenet = "1.1.2"
django-environ = "*"
mysql-connector-python = "*"
tqdm = "*"
faker = "*"
django-filter = "*"
pillow = "*"
django-storages = {extras = ["sftp"]}
pdfrw = "*"
django-db-geventpool = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
