.carousel :global(.carousel-caption) {
  text-shadow: 1px 2px black;
}

.location {
  padding-left: 160px;
  padding-right: 160px;
  background-image: url('./img2020/location_background.jpg') !important;
}

.carousel {
  height: 650px;
  margin: auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.carousel img {
  height: 650px !important;
}
