:global(.jumbotron).othersRegnJumbotron {
  background-color: rgba(231, 195, 248, 0.7);
}

:global(.jumbotron).regnJumbotron {
  transition: background-color 0.5s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.474);
  display: grid;
  place-items: center;
}