.specialEventsCardImg{
    height: 50% !important;
    width: 100%;
    object-fit: cover; 
  }

  .specialEventsCardImgScaleddown{
    height: 50% !important;
    width: 100%;
    object-fit: scale-down; 
  }
  