.plenaryJumbo {
  background: white;
  background-size: cover;
  background-position: center center;
  outline-style: groove;
  outline-color: white;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}

.plenarySessionCard {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  width: calc(20% - 10px);
  min-width: 250px;
  max-width: 300px;

  align-self: flex-start;
}

.plenarySessionCardHeader {
  min-height: 10em;
  height: 150px;
}

.speakerLabel,
.moderatorLabel {
  color: #777;
  font-weight: 400;
}
