DJANGO_DEBUG=0

DJANGO_SECRET_KEY=  # SETME

DJANGO_ALLOWED_HOSTS=itaws.ucsd.edu

SITE_DOMAIN=itaws.ucsd.edu

FRONTEND_ROOT_DOMAIN=ita.ucsd.edu/workshops

# Database URL
DATABASE_URL=psql://postgres@db:5432/postgres  # SETME

EMAIL_URL=smtp+ssl://smtp-ita:ADD_PASSWORD_HERE@smtp.ucsd.edu:465  # SETME

# Authorize.net credentials
AUTHORIZE_NET_API_CREDENTIALS_NAME=  # SETME
AUTHORIZE_NET_API_CREDENTIALS_TRANSACTION_KEY=  # SETME
