.grayText {
  color: #999;
}

.dangerText {
  padding: 2px;
  border-radius: 4px;
  color: #B71C1C;
  font-weight: bold;
}

.blueText {
  padding: 2px;
  border-radius: 4px;
  background-color: #337ab7;
  color: #fff;
}
.select {
  margin-left: 12px;
  width: 70px;
}